.App {
  text-align: left;
  padding: 0px 30px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 10px;
  color: white;
} 

.App-title {
  font-size: 3em;
  font-family: 'Merriweather', serif;
}